cache/
log/
*.zwc
*.zwc.old
prezto/
tmux/t-theme/
.directory
scripts/server_bin/adb
scripts/server_bin/Archipelago_0.4.2_linux-x86_64.AppImage
scripts/server_bin/nvim
scripts/server_bin/neovide
nvim/lazy-lock.json
