[Unit]
Description=Automatically Mount Stev-Server NFS Share
After=network-online.target
Wants=network-online.target

[Mount]
What=192.168.1.147:/home/stev
Where=/home/mstev/server
Type=nfs
Options=auto,nofail,noatime

[Install]
WantedBy=remote-fs.target
